@font-face {
    font-family: 'HoeflerText';
    src: url('HoeflerText-Roman.woff2') format('woff2'),
        url('HoeflerText-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

